/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Configuracion rem */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem; /* Configuracion rem */

  background-image: url('../img/background.jpg');
  position: center;
  background-attachment: fixed;
}

.navbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor{
  width: 100rem;
  margin: 0 auto;
}

.nav-brand{
  color: white;
  text-decoration: none;
  font-size: 2.3rem;
  margin: 2rem;
}

.nav-items{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-items li a{
  color: white;
  text-decoration: none;
  margin: 2rem;
}